<h1>This is a Url Lengthener. </h1>
<h2>It takes a url and makes it longer. </h2>

It would have been a shortener, but no one gave us money for a short domain.
<br \>
Don't complain, it's like <a href="http://www.youtube.com/watch?v=8r1CZTLk-Gk">you are in chair in the sky.</a>

<br \>

<h2> <a href= "/urls/new" > Lets go make a longer URL </a> </h2>





<%@url.each do |url| %>
<br \>
<br \>


Original URL: <a href="<%=url.original %>"> <%=url.original%> </a>
<br \>

Lengthened URL: <%=link_to redirect_url(url.appendage), redirect_url(url.appendage) %>
<br \>
Times that fools have visited: <%=url.counter %>

<!-- Lengthened URL: <a href="<%="http://localhost:3000/#{url.appendage}" %>"> <%="http://localhost:3000/#{url.appendage}" %> </a> -->
<% end %>

<br \>
<br \>

<img src = "http://www.keithcourage.com/vinylcountdown/files/2011/10/LouisCK-540x330.jpg">
s
